doctypehtml
html(lang='en' dir='ltr')
 head
  title MAIN
  link(rel='stylesheet' href='../CSS/final.css')
 body
  h1 This is Real
  h2 Very Real 
  h3 Also REAL
  h4 AGAIN REAL
  p Test
  //script(src="../JS/final.js")
  script(src="http://localhost:35729/livereload.js")