doctypehtml
html(lang='en' dir='ltr')
 head
  title MAIN
  link(rel='stylesheet' href='../CSS/final.css')
 body
  h1 This is Real
  h2 NOT FICTIONAL
  h2 Testing Default is a success
  h2 Testing BrowserSync is a success
  h3 How does it feel?
  h3 How does it feel?
  h4 How does it feel?
  h4 How does it feel?
  h4 How does it feel?
  h4 How does it feel?
  script(src="../JS/final.js")
 //-script(src="http://localhost:35729/livereload.js")